// Button 
@use 'variables';

//button styles
@mixin btn($bgcolor: variables.$default-color){
    border-radius: 6px;
    padding: variables.$pt-sm variables.$pe-lg variables.$pb-sm variables.$ps-lg;
    background-color: variables.$primary-color;
    color: variables.$white;
    min-height: 45px;
    min-width: 120px;
    text-decoration: none;
    line-height: 45px;
    text-align: center;
    transition: background-color 0.3s;

    &:hover{
        background-color: darken(variables.$primary-color, 22%);
    }
}
