// Typography

// weights
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

//Sizes
$font-sm: 0.5rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;


